[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=boundify_offset
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Boundify_offset
Comment=boundify_offset
